.content-right
  .gain
    %a.green_btn{:href => "#"} Find a Project
  .find
    %a.green_btn{:href => "#"} Post a Project
  %h4 Buzzworthy Blog
  .block-content-outer
    %ul
      %li
        .block-image
          .block-img-inner
            = image_tag('interior-professional.jpg', alt: 'photo')                      
        .block-inner-content
          %h6 Hire a Professional
          %span September 15, 2014
      %li
        .block-image
          .block-img-inner
            = image_tag('interior-story.jpg', alt: 'photo')                                               
        .block-inner-content
          %h6 Story Title
          %span September 15, 2014
  %h4 Latest News
  .block-content-outer.News
    %ul
      %li
        .block-image
          .block-img-inner.date-details
            Oct
            %span 23
        .block-inner-content
          %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit, sed do eiusmod tempor incididu.
          %a{:href => "#"} Read More >
      %li
        .block-image
          .block-img-inner.date-details
            Oct
            %span 23
        .block-inner-content
          %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit.
          %a{:href => "#"} Learn More >
