
<style>
.social_media {
  float:right;
}
</style>
<div class="welcome-container">
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
       <div class="container">
        <%= image_tag 'logo_one.png' %>
          <div class="carousel-caption">
            <h1>Coming Soon</h1>
            </pthis></div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= image_tag 'logo_one.png' %>
          <div class="carousel-caption">
            <h1>The next evolution of consulting</h1>
            <p>Linking companies in need with MBAs at a reasonable rate.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= image_tag 'logo_one.png' %>
          <div class="carousel-caption">
            <h2>Register for updates</h2>
            <p><%= link_to "Sign Up", new_newsletter_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
  <!-- /.carousel -->

  <div class="social_media">
    <a href="https://twitter.com/BeMyMBA" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
    <a href="https://www.facebook.com/bemymba" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/be-my-mba" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
  </div>
</div>