%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h3 About BeMyMBA
              %p Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea co asd ashaf mmodo consequat.
              %p
                = image_tag('interior-img.jpg', alt: 'img')
                Lorem ipsum dolor sit amet, con- sectetur adip iscing elit, sed do eiu smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer cita- tion ullamco laboris nisi ut aliquip ex ea co asd ashaf mmodo consequat. Ut enim ad quis nostrud exer citation mmodo consequat.
              %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asper natur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, co nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi cons equatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil mo le stiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
              %ul
                %li Lorem ipsum dolor
                %li Lorem ipsum dolor consectetur adip
                %li Lorem ipsum dolor adip
              %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, etatibeatae vitae dicta sunt explicabo.
            .content-right
              .gain
                %a.green_btn{:href => "#"} Find a Project
              .find
                %a.green_btn{:href => "#"} Post a Project
              %h4 Buzzworthy Blog
              .block-content-outer
                %ul
                  %li
                    .block-image
                      .block-img-inner
                        = image_tag('interior-professional.jpg', alt: 'photo')                      
                    .block-inner-content
                      %h6 Hire a Professional
                      %span September 15, 2014
                  %li
                    .block-image
                      .block-img-inner
                        = image_tag('interior-story.jpg', alt: 'photo')                                               
                    .block-inner-content
                      %h6 Story Title
                      %span September 15, 2014
              %h4 Latest News
              .block-content-outer.News
                %ul
                  %li
                    .block-image
                      .block-img-inner.date-details
                        Oct
                        %span 23
                    .block-inner-content
                      %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit, sed do eiusmod tempor incididu.
                      %a{:href => "#"} Read More >
                  %li
                    .block-image
                      .block-img-inner.date-details
                        Oct
                        %span 23
                    .block-inner-content
                      %p Lorem ipsum dolor sit amet, con seth sectetur adip iscing elit.
                      %a{:href => "#"} Learn More >
