%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h3 About BeMyMBA
              %p Like many MBA students, I was looking for ways to put my skills to use, gain experience and earn some extra cash in the process. I found a few freelance consulting options, but none were quite the right fit. I talked to colleagues and classmates and they all had a similar response. I told myself that there has to be a better way. Then it dawned on me – why not create it myself!
              %p
                = image_tag('interior-img.jpg', alt: 'img')
                So, with the help of some really smart people, we launched BeMyMBA - an online marketplace where companies – big and small – post consulting and project work to be bid on by MBAs around the world. All at an economical cost. 

              %p Our flexible framework provides secure virtual work platforms that are easy to use. Whether you're in Boston or Cape Town, we can quickly connect you to the help and opportunity you need. 

              %p After a recent trip to South Africa our hearts had been changed and our model responded. A BRICS country that only gained their independence about 20 years ago, they are fiercely fighting to grow small business. BeMyMBA is fully committed to helping take ideas to inception and being a part of one of the most inspirational movements in the world of business. Through modern day technology and a little effort, we can help revolutionize an economy.

              %p BeMyMBA is the next evolution of consulting – join us as we take business into the future and change the world.

            = render partial: 'shared/outer_side_bar'