.hero
  .hero_middle_box
    %h1
      FIND YOUR BUSINESS PROFESSIONAL
    %p
      Lorem ipsum dolor sit amet, consectuter a dip iscing elitt, sed do eiusmod tempor incididunt ut labore et aliqua.
    %button.btn_find_my_mba
    %button.btn_list_your_business
.how_it_works
  .left_checklist
    %h2
      How BeMyMBA Works
    %p
      Lorem ipsum dolo sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea co asd ashaf mmod consequat.
    %ul
      %li
        Lorem ipsum dolor
      %li
        Lorem ipsum dolor consetetur adig
      %li
        Lorem ipsum dolor adip
    %p
      Lorem ipsum dolo sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %button.btn_learn_more_now
.connect_me
  test2.5d
.hire_me
  test3  
.lastest_news
  test4