%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h3 How it Works
              %ul
                %li Companies post detailed projects with an opening bid
                %li MBAs bid on projects that match their strengths
                %li Companies select the winner based on an evaluation of skills, experience, BeMyMBA Grade and price
                %li Work is completed via BeMyMBA platforms and payment is transferred to the MBA


              %p 
                %strong It’s that simple! 
                All of the MBAs’ credentials are thoroughly vetted and confirmed prior to becoming authorized to use the site. Similarly, all project payments are deposited prior to any work being performed. This way you can trust that you’re getting exactly what you expect.

              %p Additionally, all companies and MBAs are reviewed at the completion of a project. This translates into our proprietary BeMyMBA Grade – this way you can confidently make decisions on whom to work with.
              
              %p As we grow, we will be incorporating many more features to make the MBA and Business interaction easier and faster. 

              %p BeMyMBA is the next evolution of consulting – join us as we take business into the future and change the world.

            = render partial: 'shared/outer_side_bar'