%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h3 BeMyMBA News
             
            = render partial: 'shared/outer_side_bar'