%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h4
                Services Contract Policy
              Last Revised: January 2, 2015
              %br/
              %br/
              Unless otherwise agreed to in a writing signed by both Client and Contractor, the terms and conditions of the Service Contract are as set forth in this Service Contract Policy. Client and Contractor may not agree to any other terms and conditions that affect the rights or responsibilities of BeMyMBA as described herein. Capitalized terms used herein but not otherwise defined will have the definitions provided in the Terms of Service.
              %br/
              %br/
              1. SERVICES.
              %br/
              Contractor will perform Services in a professional and workmanlike manner and will timely deliver any agreed-upon Work Product.
              %br/
              %br/
              2. CLIENT PAYMENTS AND BILLING.
              %br/
              Client will pay BeMyMBA the agreed-upon amount for the approved project in accordance with Section 3 of the Agreement.
              %br/
              %br/
              3. TERMINATION OF A SERVICE CONTRACT.              
              %br/
              Client may terminate at any time but may not recover any payments already made. Contractor may terminate the Service Contract at any time if no payment by Client has been made. If a payment has been made on a Contract, Contractor may terminate only with Client’s prior written consent.
              %br/
              %br/
              4. CLIENT MATERIALS.              
              %br/
              Client hereby grants Contractor a limited, non-exclusive, revocable (at any time, at Client’s sole discretion) license to use instructions, materials, information and any other intellectual property that Client provides to Contractor in connection with a particular Service Contract (collectively, the “Client Materials”), and the intellectual property rights therein, solely for the performance of the Services. Client reserves all other rights and interest in and to the Client Materials. Upon completion or termination of the Service Contract, or upon written request by Client, Contractor will immediately return all Client Materials to Client and further agrees to purge all copies of Client Materials and Work Product contained in or on Contractor’s premises, systems or any other equipment otherwise under Contractor’s control. Within ten (10) days of Client’s request, Contractor agrees to provide written certification to Client that all Client Materials have been returned or purged.
              %br/
              %br/
              5. WORK PRODUCT.
              %br/
              Contractor will make full and prompt disclosure to Client of all inventions, discoveries, designs, developments, methods, modifications, improvements, ideas, products, processes, algorithms, databases, computer programs, formulae, techniques, know-how, trade secrets, graphics or images, and audio or visual works and other works of authorship (collectively, “Developments”), whether or not patentable or copyrightable, that are created, made, conceived or reduced to practice by Contractor for Client during the term of the Service Contract that results from the Services (“Work Product”). Contractor acknowledges that all work performed by Contractor is on a “work for hire” basis, and Contractor hereby assigns and transfers and, to the extent any such assignment cannot be made at present, will assign and transfer, to Client and its successors and assigns all Contractor’s right, title and interest in all Work Product, and all related patents, patent applications, trademarks and trademark applications, service marks and service mark applications, copyrights and copyright applications, and other intellectual property rights in all countries and territories worldwide and under any international conventions.
              Contractor will cooperate fully with Client, both during and after the term of the Service Contract, with respect to the procurement, maintenance and enforcement of intellectual property rights in, to or that claim or cover the Work Product. Contractor will sign, both during and after the term of the Service Contract, all papers, including without limitation copyright applications, patent applications, declarations, oaths, assignments of priority rights, and powers of attorney, which Client may deem necessary or desirable in order to protect its rights and interests in any Work Product. If Client is unable, after reasonable effort, to secure Contractor’s signature on any such papers, Contractor hereby irrevocably designates and appoints each current and future officer of Client as Contractor’s agent and attorney-in-fact to execute any such papers on Contractor’s behalf, and to take any and all actions as Contractor may deem necessary or desirable in order to protect its rights and interests in any Work Product.
              %br/
              %br/
              6. PRE-EXISTING DEVELOPMENTS IN WORK PRODUCT.
              %br/
              If Contractor incorporates any Development that Contractor has, alone or jointly with others, conceived, developed or reduced to practice prior to the date of the Service Contract that Contractor considers to be Contractor’s property or the property of third parties and that Contractor wishes to have excluded from the scope of the Service Contract (collectively, “Pre-Existing Developments”) into the Work Product, Contractor hereby grants Client and its affiliates a perpetual, irrevocable, paid-up, royalty-free, nonexclusive, worldwide license (with the full right to sublicense directly, or indirectly through multiple tiers) to (a) copy, distribute, display, perform, and create derivative works of the Pre-Existing Developments, in whole or in part; and (b) use or otherwise practice the Pre-Existing Developments, in whole or in part, including without limitation, the right and license to develop, manufacture, have manufactured, market, promote, sell, have sold, offer for sale, have offered for sale, import, have imported, rent, provide and/or lease products or services which practice or embody, or are configured for use in practicing, the Pre-Existing Developments and the right to practice any method covered by or included in the Pre-Existing Developments. Notwithstanding the foregoing, Contractor will not incorporate, or permit to be incorporated, Pre-Existing Developments in any Work Product without Client’s prior written consent.
              %br/
              %br/
              7. CONFIDENTIAL INFORMATION.
              %br/
              7.1 Confidentiality.
              %br/
              “Confidential Information” means, subject to the exceptions set forth in the following sentence, any information or data, regardless of whether it is in tangible form, disclosed by a Client or a Contractor (the “Disclosing Party”) that the Disclosing Party has either marked as confidential or proprietary, or has identified in writing as confidential or proprietary within thirty (30) days of disclosure to a Contractor (in the case of Client as the Disclosing Party) or a Client (in the case of Contractor as the Disclosing Party) (the “Receiving Party”) or which would be apparent to a reasonable person, familiar with Disclosing Party’s business and the industry in which each operates, to be of a confidential or proprietary nature the maintenance of which is important to the Disclosing Party; provided, however, that reports and/or information related to or regarding the Services or Work Product, or a Disclosing Party’s business plans, strategies, technology, research and development, current and prospective customers, billing records, and products or services will be deemed Confidential Information of the Disclosing Party even if not so marked or identified, unless such information is the subject of any of the exceptions set forth in the following sentence. Information and data will not be deemed Confidential Information hereunder if such information: (a) is known to the Receiving Party prior to receipt from the Disclosing Party directly or indirectly from a source other than one having an obligation of confidentiality to the Disclosing Party; (b) becomes known (independently of disclosure by the Disclosing Party) to the Receiving Party directly or indirectly from a source other than one having an obligation of confidentiality to the Disclosing Party; (c) becomes publicly known or otherwise ceases to be secret or confidential, except through a breach of this Agreement by the Receiving Party; or (d) is independently developed by the Receiving Party.
              %br/
              %br/
              7.2 Use of Confidential Information.
              %br/
              The Receiving Party acknowledges that it will have access to the Disclosing Party’s Confidential Information. The Receiving Party agrees that it will not (i) use any such Confidential Information in any way, for its own account or the account of any third party, except for the exercise of its rights and performance of its obligations under this Agreement or a Services Contract, as applicable, or (ii) disclose any such Confidential Information to any party, other than furnishing such Confidential Information to its (a) employees who are required to have access to the Confidential Information in connection with the exercise of Receiving Party’s rights and performance of its obligations under this Agreement or a Services Contract, as applicable, and (b) professional advisers (e.g., lawyers and accountants); provided, however, that any and all such employees and advisers are bound by agreements or, in the case of professional advisers, ethical duties, to treat, hold and maintain such Confidential Information in accordance with the terms and conditions of this Services Contract Policy. The Receiving Party agrees that it will not allow any unauthorized person access to Disclosing Party’s Confidential Information, and that Receiving Party will take all action reasonably necessary to protect the confidentiality of such Confidential Information, including implementing and enforcing procedures to minimize the possibility of unauthorized use or copying of such Confidential Information. In the event that the Receiving Party is required by law to make any disclosure of any of Disclosing Party’s Confidential Information, by subpoena, judicial or administrative order or otherwise, the Receiving Party will first give written notice of such requirement to the Disclosing Party, and will permit the Disclosing Party to intervene in any relevant proceedings to protect its interests in the Confidential Information, and provide full cooperation and assistance to the Disclosing Party in seeking to obtain such protection.
              %br/
              %br/
              7.3 Additional Restrictions.
              %br/
              Contractor will not disclose to Client any information that constitutes material, non-public information about any third party, information that Contractor has a duty or obligation to keep confidential (whether by agreement, law, rule, regulation, fiduciary duty, or other similar obligation or restriction), information the disclosure of which would be in violation of securities laws and/or information that is proprietary to a third party (including past or present employers or companies for which Contractor have consulted) and not owned solely by Contractor.
              %br/
              %br/
              7.4 Return.
              %br/
              If and when Confidential Information is no longer needed for the performance of Services for the relevant Contract, or at Client’s or Contractor’s written request (which may be made at any time at Client’s or Contractor’s sole discretion), Client or Contractor (as the case may be) will promptly destroy or return all Confidential Information and any copies thereof contained in or on its premises, systems, or any other equipment otherwise under its control. Each of Client or Contractor, as applicable, agrees to provide written certification to the party disclosing the Confidential Information of compliance with this Section 7.3 within ten (10) days after the receipt of Disclosing Party’s written request to certify.
              %br/
              %br/
              7.5 Publication.
              %br/
              Without limiting Section 7.1 above (Confidentiality), Client and Contractor will not publish, or cause to be published, any Confidential Information or Work Product, except as may be necessary for performance of Services for a Services Contract or except as the Disclosing Party will permit.
              %br/
              %br/
              8. WORKER CLASSIFICATION.
              %br/
              The intent is that Contractors will be properly classified as independent contractors of Client and Client agrees (a) that Client does not in any way supervise, direct, or control Contractor’s work, (b) that Client does not, in any way, supervise, direct, or control Contractor’s work hours and location of work, and (c) Client does not provide Contractor with training or equipment needed for any Contract. Notwithstanding the foregoing, Client assumes all liability for proper classification of Contractors as independent contractors or employees based on applicable legal guidelines.
              This Agreement does not create a partnership or agency relationship between Client and Contractor. Contractor does not have authority to enter into written or oral — whether implied or express — contracts on behalf of Client. Contractor acknowledges that BeMyMBA does not, in any way, supervise, direct, or control Contractor’s work or Services performed in any manner. BeMyMBA does not set Contractor’s work hours and location of work. BeMyMBA will not provide Contractor with training or equipment needed for any Service Contract. BeMyMBA will not deduct any amount for withholding, unemployment, Social Security, or other taxes as it would in the case of an employee. Client and Contractor will be solely responsible for all tax returns and payments required to be filed with or made to any federal, state, or local tax authority, in any nation, with respect to Contractor’s performance of Services.
              Client may not require an exclusive relationship between Client and Contractor. Contractor, as an independent contractor, is free at all times to provide Services to persons or businesses other than Client, including any competitor of Client.
              %br/
              %br/
              9. AUDIT RIGHTS.
              %br/
              Client and Contractor each will (i) create and maintain records to document satisfaction of its obligations under this Agreement and any Service Contract, including without limitation its payment obligations and compliance with tax laws, and (ii) provide copies of such records to BeMyMBA upon request. BeMyMBA, or BeMyMBA’s advisors or agents, will have the right, but not the obligation, to routinely, but no more frequently than annually, audit Contractor’s operations and records to confirm compliance. Nothing in this provision should be construed as providing BeMyMBA with the right or obligation to supervise or monitor the actual Services performed by Contractor.
              %br/
              %br/
              10. THIRD PARTY BENEFICIARY.
              %br/
              BeMyMBA is hereby named as a third party beneficiary of each Service Contract. Clients and Contractors understand and agree that BeMyMBA is an intended third party beneficiary of each Service Contract and that BeMyMBA, as intended third party beneficiary of each Service Contract, has the right to directly enforce all rights and obligations under the Service Contract.
              %br/
              %br/
              11. GENERAL.
              %br/
              All Service Contracts will be governed by the minimum terms and conditions of this Services Contract Policy.
              %br/
              %br/
              12. ENTIRE AGREEMENT.
              %br/
              The terms and conditions set forth in this Services Contract Policy and any additional or different terms expressly agreed by Client and Contractor will constitute the entire agreement and understanding of Client and Contractor with respect to each Service Contract and will cancel and supersede any other prior or contemporaneous discussions, agreements, representations, warranties, and/or other communications between them.