%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h4
                Terms of Service
              Last Revised: January 2, 2015
              %br/
              %br/
              These Terms of Service (this “Agreement”) is a contract between you (“you”) and
              BeMyMBA, LLC, an Ohio Limited Liability Company (“BeMyMBA”, “we” or “us”). You
              must read, agree with and accept all of the terms and conditions contained in this
              Agreement in order to use our website located at www.BeMyMBA.com (the “Site”)
              and related software and services (collectively, the “BeMyMBA Platform”).
              BeMyMBA may amend this Agreement at any time with thirty (30) days written
              notice to you. Your continued use of the BeMyMBA Platform after the effective date
              of a revised version of this Agreement constitutes your acceptance of its terms.
              This Agreement includes and hereby incorporates by reference the agreements and
              polices referred to or linked herein, including our Fee Policy, Privacy Policy and
              Service Contract Policy, as such agreements and policies may be modified by
              BeMyMBA from time to time in its sole discretion. In the event of a conflict between
              such policies and agreements and this Agreement, this Agreement controls.
              YOU UNDERSTAND THAT BY CHECKING THE BOX AND CLICKING THE “SUBMIT”
              BUTTON, OR BY USING THE BEMYMBA PLATFORM, YOU ARE AGREEING TO BE
              BOUND BY THIS AGREEMENT. IF YOU DO NOT ACCEPT THIS AGREEMENT IN ITS
              ENTIRETY, YOU MAY NOT ACCESS OR USE THE BEMYMBA PLATFORM. IF YOU
              AGREE TO THIS AGREEMENT ON BEHALF OF AN ENTITY, YOU REPRESENT AND
              WARRANT THAT YOU HAVE THE AUTHORITY TO BIND THAT ENTITY TO THIS
              AGREEMENT. IN THAT EVENT, “YOU” AND “YOUR” WILL REFER AND APPLY TO
              THAT ENTITY.
              %br/
              1. THE BEMYMBA PLATFORM.
              %br/
              1.1 Purpose of the BeMyMBA Platform.
              %br/
              The BeMyMBA Platform has been created to offer a number of web-based services
              to users requesting services to be performed (each, and you in such capacity, a
              “Client”, and such services, the “Services”) and students pursuing or individuals
              having obtained the conditions required by the site (each, and you in such capacity,
              a “Contractor”). Under this Agreement, BeMyMBA provides services to you in your
              capacity as either a Client or Contractor. For clarity, the term “you”, as used in this
              Agreement, may mean “Client” and/or “Contractor”. Our services include curating
              Clients and Contractors, facilitating the formation of contracts between Clients and
              Contractors and managing disputes related to those contracts. Clients post jobs and
              invite Contractors to apply. Contractors, in turn, post profiles and bid on jobs. If a
              Client and Contractor agree on terms, a contract is formed directly between such
              Client and Contractor subject to the provisions set forth in the Service Contract
              Policy (each such contract, a “Service Contract”). BeMyMBA collects payment from
              Clients in connection with their acceptance of a Contractor bid through the
              BeMyMBA platform. BeMyMBA then pays Contractors on behalf of Clients in
              connection with their delivery of services through the BeMyMBA Platform once the
              Work Product (as defined below) is accepted by Client.
              %br/
              1.2 Eligibility.
              %br/
              The is available only to legal entities and persons who are at least eighteen (18)
              years old and are otherwise capable of forming legally binding contracts under applicable law. You represent, warrant and covenant that you are not (a) a citizen or
              resident of a country in which use or participation in the BeMyMBA Platform is
              prohibited by law, decree, regulation, treaty or administrative act; (b) a citizen or
              resident of, or located in, a country or region that is subject to U.S. or other
              sovereign country sanctions or embargoes; or (c) an individual or an individual
              employed by or associated with an entity identified on the U.S. Department of
              Commerce’s Denied Persons or Entity List, the U.S. Department of Treasury’s
              Specially Designated Nationals or Blocked Persons Lists, or the Department of
              State’s Debarred Parties List or otherwise ineligible to receive items subject to U.S.
              export control laws and regulations, or other economic sanction rules of any
              sovereign nation.
              %br/
              2. BEMYMBA GENERAL POLICIES.
              %br/
              2.1 User Content Transmitted Through the BeMyMBA Platform.
              (a) With respect to the content or other materials (including without limitation
              code, video, images, information, data, text, software, music, sound, photographs,
              graphics or messages) you upload, post, publish or display through the BeMyMBA
              Platform or share with or email, communicate or otherwise distribute to other users
              or recipients in connection with your use of the BeMyMBA Platform or otherwise
              provide to BeMyMBA (collectively, such actions, “transmit”), including without
              limitation the Work Product (collectively, such content and materials, “User
              Content”), you represent and warrant that you own all right, title and interest in and
              to such User Content, including, without limitation, all copyright and rights of
              publicity contained therein. By transmitting any User Content you hereby grant and
              will grant BeMyMBA and its affiliated companies a nonexclusive, worldwide, royalty
              free, fully paid up, transferable, sub-licensable, perpetual, irrevocable license to
              copy, display, upload, perform, distribute, store, modify and otherwise use your
              User Content in connection with the operation of the BeMyMBA Platform or, with
              the exception of Work Product, the promotion, advertising or marketing thereof, in
              any form, medium or technology now known or later developed. Our use of any User
              Content will be governed by our Privacy Policy.
              (b) You acknowledge and agree that any questions, comments, suggestions, ideas,
              feedback or other information about the BeMyMBA Platform provided by you to
              BeMyMBA are non-confidential and BeMyMBA is entitled to their unrestricted use
              and dissemination for any purpose, commercial or otherwise, without
              acknowledgment or compensation to you.
              (c) You acknowledge and agree that BeMyMBA may preserve User Content and may
              also disclose User Content if required to do so by law or in the good faith belief that
              such preservation or disclosure is reasonably necessary to: (i) comply with legal
              process, applicable laws or government requests; (ii) enforce this Agreement; ( iii)
              respond to claims that any content violates the rights of third parties; or (iv) protect
              the rights, property, or personal safety of BeMyMBA, its users and the public. You
              understand that the technical processing and transmission of the BeMyMBA
              Platform, including your content, may involve transmissions over various networks
              and changes to conform and adapt to technical requirements of connecting
              networks or devices. (d) While BeMyMBA takes security and privacy very seriously, BeMyMBA is not a
              HIPAA Business Associate and the BeMyMBA Platform is not HIPAA-compliant and
              should not be used to store any protected health information (“PHI”). You agree that
              you will not upload or store any documents containing PHI. To do so would be a
              violation of this Agreement.
              2.2 Identity and Account Security.
              BeMyMBA reserves the right to validate your information at any time, including but
              not limited to validation against third party databases or the verification of one or
              more official government or legal documents that confirm the your identity. You
              authorize BeMyMBA, directly or through third parties, to make any inquiries
              necessary to validate your identity and confirm your ownership of your email
              address or financial accounts. Failure to provide information about you and your
              business when requested is a violation of this Agreement. You are solely responsible
              for ensuring and maintaining the secrecy and security of your BeMyMBA account
              password. You agree not to disclose this password to anyone and will be solely
              responsible for any use of or action taken through the use of such password on
              BeMyMBA. You must notify BeMyMBA support immediately if you suspect that your
              password has been lost or stolen. By using your BeMyMBA account, you
              acknowledge and agree the BeMyMBA’s account security procedures are
              commercially reasonable.
              %br/
              2.3 Exclusivity
              %br/
              You acknowledge and agree that a substantial portion of the compensation
              BeMyMBA receives for making the Site available to you is collected as a deduction
              from the Contractor Fee (as defined below). Therefore, for twenty four (24) months
              from the time you identify or are identified by any party through the Site, you must
              use the Site as your exclusive method to request work and make and receive all
              payments for work, directly or indirectly, with that party or arising out of your
              relationship with that party.
              %br/
              2.4 Restrictions.
              %br/
              (a) Unauthorized Actions. You will not access (or attempt to access) the Site by any
              means other than the interface provided, and you will not use information from the
              Site for any purpose other than the purpose for which it was made available. You are
              solely responsible for all User Content. BeMyMBA reserves the right to investigate
              and take appropriate legal action against anyone who, in BeMyMBA’s sole
              discretion, violates this provision. The following are examples of the kind of User
              Content and/or use that is illegal or prohibited by BeMyMBA; you will not use the
              BeMyMBA Platform to:
              (i) transmit any User Content that (A) infringes any intellectual property or other
              proprietary or privacy rights of any party; (B) you do not have a right to transmit
              under any law or under contractual or fiduciary relationships; (C) constitutes
              material, non-public information about any company and/or constitutes
              information the disclosure of which would be in violation of securities laws; (D)
              contains software viruses or any other computer code, files or programs designed to
              interrupt, destroy or limit the functionality of any computer software or hardware
              or telecommunications equipment; (E) poses or creates a privacy or security risk to
              any person; (F) constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, “junk mail,“ “spam,“ “chain letters,“
              “pyramid schemes,“ “contests,“ “sweepstakes,“ or any other form of solicitation; (G)
              is unlawful, harmful, threatening, abusive, harassing, tortious, excessively violent,
              defamatory, vulgar, obscene, pornographic, libelous, invasive of another’s privacy,
              hateful racially, ethnically or otherwise objectionable; (H) that constitutes PHI that
              is subject to HIPAA; or (I) in the sole judgment of BeMyMBA, is objectionable or
              which restricts or inhibits any other person from using or enjoying the BeMyMBA
              Platform, or which may expose BeMyMBA or its users to any harm or liability of any
              type;
              interfere with or disrupt the BeMyMBA Platform or servers or networks connected
              to the BeMyMBA Platform, or disobey any requirements, procedures, policies or
              regulations of networks connected to the BeMyMBA Platform;
              (iii) violate any applicable local, state, national or international law, or any
              regulations having the force of law;
              (iv) disclose information that constitutes material, non-public information about
              any third party, information that you have a duty or obligation to keep confidential
              (whether by agreement, law, rule, regulation, fiduciary duty, or other similar
              obligation or restriction), information the disclosure of which would be in violation
              of securities laws and/or information that is proprietary to a third party (including
              past or present employers or companies for which you have consulted) and not
              owned solely by you;
              (v) impersonate any person or entity, or falsely state or otherwise misrepresent
              your affiliation with a person or entity;
              (vi) solicit personal information from anyone under the age of 18;
              (vii) harvest or collect email addresses or other contact information of other users
              from the BeMyMBA Platform by electronic or other means for the purposes of
              sending unsolicited emails or other unsolicited communications;
              (viii) advertise or offer to sell or buy any goods or services for any business purpose
              that is not specifically authorized;
              (ix) further or promote any criminal activity or enterprise or provide instructional
              information about illegal activities;
              (x) disclose to any third party or use for any purpose other than the purpose for
              which it was made available any information of BeMyMBA marked as “confidential”
              or “proprietary”, including without limitation the “Toolkit”; or
              (xi) obtain or attempt to access or otherwise obtain any materials or information
              through any means not intentionally made available or provided for through the
              BeMyMBA Platform.
              (b) No Reverse Engineering. The technology and software underlying the BeMyMBA
              Platform or distributed in connection therewith is the property of BeMyMBA, our
              affiliates and our partners (the “Software”). You will not to copy, modify, create a
              derivative work of, reverse engineer, reverse assemble or otherwise attempt to
              discover any source code, sell, assign, sublicense, or otherwise transfer any right in
              the Software. Any rights not expressly granted herein are reserved by BeMyMBA.
              (c) Enforcement of Agreement and Policies. BeMyMBA has the right, but not the
              obligation, to monitor your use of the BeMyMBA Platform, any User Content that
              you transmit and the Services performed by the Contractor to determine your compliance with the terms and conditions of this Agreement and to suspend or
              cancel your access to the BeMyMBA Platform if it believes that you have violated or
              acted inconsistently with the letter or spirit of this Agreement or violated our rights
              or those of another party. Without limiting BeMyMBA’s other remedies, we may
              suspend or terminate your account, use self-help in connection with our rights to
              reclaim any available funds, and refuse to provide any further access to the
              BeMyMBA Platform to you if (a) you breach any terms and conditions of this
              Agreement or other written policies and procedures posted on the Site; (b) we are
              unable to verify or authenticate any information you provide to us; or (c) we believe
              that your actions may cause legal liability for you, our other users or for BeMyMBA.
              Once suspended or terminated, you MAY NOT continue to use the BeMyMBA
              Platform under a different account or reregister under a new account. If you attempt
              to use the BeMyMBA Platform under a different account, we reserve the right to
              reclaim available funds in that account and/or use an available payment method to
              pay for any amounts outstanding. In addition, violations of this Agreement may be
              prosecuted to the fullest extent of the law and may result in additional penalties and
              sanctions. When your account is canceled, you may no longer have access to any
              parts of the BeMyMBA Platform, including data, messages, files and other material
              you keep on BeMyMBA.
              (d) Prior Agreements. With respect to any Service Contract, Contractor hereby
              covenants that, except as Contractor fully discloses previously in writing to the
              applicable Client, Contractor is not bound by the terms of any agreement with any
              other party to refrain from using or disclosing any trade secret or confidential or
              proprietary information in the course of Contractor’s engagement by the applicable
              Client or to refrain from competing, directly or indirectly, with the business of such
              other party. Contractor further covenants that Contractor’s performance of all the
              terms of any Service Contract will not breach any agreement to keep in confidence
              proprietary information, knowledge or data acquired by Contractor in confidence or
              in trust prior to Contractor’s engagement with the applicable Client. Contractor will
              not disclose to any Client or induce any Client to use any confidential or proprietary
              information or material belonging to others.
              %br/
              3. PAYMENT TERMS, INVOICES AND PAYMENT METHODS.
              %br/
              3.1 BeMyMBA Fees.
              %br/
              BeMyMBA charges both Contractors and Clients a fee for the services of connecting
              the two parties and for collecting the fixed fee agreed between a Client and a
              Contractor for work prior to the commencement of a Services Contract (“Contractor
              Fee”). When a Client releases escrow funds to a Contractor, BeMyMBA credits the
              Contractor account and then deducts a service fee that BeMyMBA earns for creating,
              hosting, maintaining and providing the Site as further described by the Fee Policy
              (such fee, the “Service Fee”). All BeMyMBA Fees are non-refundable, whether or not
              Service Contracts were satisfactorily completed.
              3.2 Disbursements to Contractors.
              BeMyMBA will automatically disburse funds to Contractors according to the
              payment instructions on file with BeMyMBA within one (1) month after funds
              become payable. Funds become payable to Contractors after Clients accept work
              submitted by a Contractor. Contractors may ask BeMyMBA to expedite payments. BeMyMBA reserves the right to refuse any such request and may assess               a processing
              fee in connection with such a request.
              3.3 Non-Payment.
              If Client fails to pay amounts due under this Agreement, whether by cancelling
              Client’s credit card, initiating an improper chargeback or any other means, Client’s
              BeMyMBA account will be suspended, no additional payments will be processed,
              and any work-in-progress will be stopped. Without limiting other available
              remedies, Client must reimburse BeMyMBA for amounts due upon demand, plus any
              applicable processing fees, charges or penalties, plus interest at the lesser of one
              and one-half percent (1.5%) per month or the maximum allowed by law, plus
              attorneys’ fees and other costs of collection as allowed by law. In its discretion,
              BeMyMBA may setoff amounts due against other amounts received from or held for
              Client, make appropriate reports to credit reporting agencies and law enforcement
              authorities, and cooperate with them in any resulting investigation or prosecution.
              %br/
              3.4 Hold on Funds.
              %br/
              In cases of fraud, abuse or violation of this Agreement, all monies due to Contractor
              may be held and/or reclaimed, not just those from the Service Contract(s) under
              investigation.
              3.5 Disintermediation.
              Client will make all payments relating to, or in any way connected with, a Service
              Contract through the BeMyMBA Platform. Any action that encourages or solicits
              complete or partial payment outside of the BeMyMBA Platform is a violation of this
              BeMyMBA an amount with respect to each Service Contract equal to the greater of
              (a) US$2,500; or (b) the applicable fees had the payments been processed through
              the BeMyMBA Platform, plus 18%.
              For clarity, you are agreeing to not circumvent the payment methods offered by the
              Site. By way of illustration and not in limitation of the foregoing, you must not:
              (a) Submit proposals to, solicit, contract, hire, manage or pay any parties identified
              through the Site other than through BeMyMBA Platform.
              (b) Accept proposals from, contact, deliver services to, invoice or receive payments
              from parties identified through the Site other than through the BeMyMBA Platform.
              (c) Invoice or report on the Site an invoice or payment amount lower than that
              actually agreed between Client and Contractor through the BeMyMBA Platform.
              YOU WILL NOTIFY BEMYMBA IMMEDIATELY IF ANOTHER PERSON IMPROPERLY
              CONTACTS YOU OR SUGGESTS MAKING OR RECEIVING PAYMENTS OUTSIDE OF
              THE SITE. If you are aware of a breach or potential breach of this non-circumvention
              policy, please submit a confidential report to BeMyMBA by sending an email
              message to: info@BeMyMBA.com.
              %br/
              3.6 Tax Reporting.
              %br/
              BeMyMBA is a third party processor, and pursuant to Section 6050W of the Internal
              Revenue Code, BeMyMBA will provide a 1099-K form to the Internal Revenue
              Service for any Contractor based in the United States who is paid over $20,000
              through the BeMyMBA Platform and participates in over 200 separate Service
              Contracts in a single calendar year. Except as provided for above, BeMyMBA will have no responsibility for determining
              the necessity of or for issuing any tax forms, or for determining, remitting, or
              withholding any taxes applicable to Contractor Fees and Contractor will be solely
              responsible for: (a) determining whether Contractor is required by applicable law to
              file any tax forms or remit to the appropriate authorities any taxes or similar
              charges applicable to the Contractor Fees, and filing any such tax forms and
              remitting any such taxes or charges to the appropriate authorities. BeMyMBA will
              have the right, but not the obligation, to audit and monitor Contractor’s compliance
              with applicable tax laws as required by this Section 3.6. Further, in the event of an
              audit of BeMyMBA, Contractor agrees to promptly cooperate with BeMyMBA and
              provide copies of Contractor’s tax returns, and other documents as may be
              reasonably requested for purposes of such audit.
              %br/
              3.7 Payment Methods.
              %br/
              Client hereby authorizes BeMyMBA to run, or have run, credit card authorizations
              on all credit cards provided by Client, to store credit card details as Client’s method
              of payment for Services, and to charge Client’s credit card (or any other form of
              payment authorized by BeMyMBA or mutually agreed to between Client and
              BeMyMBA).
              4. SERVICE CONTRACT TERMS BETWEEN CLIENT AND CONTRACTOR.
              Unless otherwise agreed to in a writing signed by both Client and Contractor, the
              terms and conditions of the Service Contract are as set forth in the Service Contract
              Policy. Client and Contractor may not agree to any other terms and conditions that
              affect the rights or responsibilities of BeMyMBA as described herein and therein.
              This Agreement anticipates that Contractors will be classified as independent
              contractors of Client and you agree (a) that Client does not in any way supervise,
              direct, or control Contractor’s work, (b) that Client does not, in any way, supervise,
              direct, or control Contractor’s work hours and location of work, and (c) Client does
              not provide Contractor with training or equipment needed for any Contract.
              Notwithstanding anything to the contrary in this Agreement, Client assumes all
              liability for proper classification of Contractors as independent contractors or
              employees based on applicable legal guidelines.
              %br/
              5. YOUR ACKNOWLEDGMENT OF BEMYMBA’S ROLE.
              %br/
              5.1 Service Contracts.
              %br/
              You expressly acknowledge, agree and understand that: (i) the BeMyMBA Platform
              is merely a venue where users may act as either Clients or Contractors; (ii)
              BeMyMBA is not a party to any Service Contracts between Clients and Contractors;
              (iii) you recognize, acknowledge and agree that you are not an employee of
              BeMyMBA and that BeMyMBA does not, in any way, supervise, direct, or control
              your work or Services; (iv) BeMyMBA will not have any liability or obligations under
              or related to Service Contracts or any acts or omissions by you or other users; (v)
              BeMyMBA has no control over Contractors or over the Services promised or
              rendered by Contractors; and, (vi) BeMyMBA makes no representations as to the
              reliability, capability, or qualifications of any Contractor or the quality, security or
              legality of any Services, and BeMyMBA disclaims any and all liability relating
              thereto. BeMyMBA does not introduce Contractors to Clients or help Contractors find their
              work, however, BeMyMBA does provide search tools and automatic email
              notifications that may facilitate such introductions. BeMyMBA merely makes the
              BeMyMBA Platform available to enable Contractors to identify and determine the
              suitability of Clients for themselves, and to enable Clients to identify and determine
              the suitability of Contractors for themselves. BeMyMBA does not direct, has no
              control over, makes no representations, and does not guarantee the quality, safety
              or legality of Services advertised, the truth or accuracy of listings, the qualifications,
              background, or identities of users, the ability of Contractors to deliver Services, the
              ability of Clients to pay for Services, or that a Client or Contractor can or will actually
              complete a transaction.
              %br/
              5.2 No Background Checks.
              %br/
              BeMyMBA is not required to and does not verify any information given to us by
              Contractors or Clients, nor does BeMyMBA perform background checks on
              Contractors or Clients. BeMyMBA may provide information about a Contractor or
              Client, such as a strength or risk score, geographical location or third party
              feedback, background check or verification of identity or credentials. However, such
              information is based solely on data that Contractor or Client submits. BeMyMBA
              provides such information solely for the convenience of its users and is not an
              introduction, endorsement or recommendation by BeMyMBA.
              %br/
              5.3 BeMyMBA’s Proprietary Rights.
              %br/
              BeMyMBA and its licensors reserve all rights, title, ownership and interest in and to
              copyrights, trademarks, service marks, trade names, trade secrets, patents and any
              other rights to intellectual property, recognized in any jurisdiction, whether or not
              perfected in and to the BeMyMBA Platform. You may not use the BeMyMBA
              Platform except as necessary for the purposes of discharging its obligations under
              this Agreement and any Service Contract entered into pursuant to this Agreement.
              BeMyMBA reserves the right to withdraw, expand and otherwise change the
              BeMyMBA Platform at any time in BeMyMBA’s sole discretion.
              %br/
              5.4 Third Party Websites.
              %br/
              The BeMyMBA Platform may provide, or third parties may provide, links or other
              access to other sites and resources on the Internet. BeMyMBA has no control over
              such sites and resources and BeMyMBA is not responsible for and does not endorse
              such sites and resources. You further acknowledge and agree that BeMyMBA will
              not be responsible or liable, directly or indirectly, for any damage or loss caused or
              alleged to be caused by or in connection with use of or reliance on any content,
              events, goods or services available on or through any such site or resource. Any
              dealings you have with third parties found while using the BeMyMBA Platform are
              between you and the third party, and you agree that BeMyMBA is not liable for any
              loss or claim that you may have against any such third party.
              %br/
              5.5 Social Networking Services
              %br/
              Platform, such as social media and social networking services like LinkedIn (“Social
              websites of their respective providers. As part of such integration, the Social
              disclose such information in accordance with our Privacy Policy. For more
              information about the implications of activating these Social Networking Services              
              please remember that the manner in which Social Networking Services use, store
              and disclose your information is governed solely by the policies of such third
              within the BeMyMBA Platform.
              In addition, BeMyMBA is not responsible for the accuracy, availability or reliability
              of any information, content, goods, data, opinions, advice or statements made
              available in connection with Social Networking Services. As such, BeMyMBA is not
              liable for any damage or loss caused or alleged to be caused by or in connection with
              features merely as a convenience and the integration or inclusion of such features
              does not imply an endorsement or recommendation.
              %br/
              5.6 BeMyMBA as a Limited Agent.
              %br/
              This Agreement and any registration for or use of this Site will not be construed as
              creating or implying any relationship of agency, franchise, partnership or joint
              stated in this Agreement.
              From time to time, a user may ask BeMyMBA to provide a physical or manually
              signed copy of this Agreement, a Service Contract, or an ancillary document (for
              example, to enable you to withdraw payments from your foreign bank account). You
              hereby appoint BeMyMBA as its agent for the limited purpose of executing
              documents that confirm your activities on the BeMyMBA Platform. BeMyMBA will
              act on your behalf and in a clerical capacity, without in any way restricting
              BeMyMBA’s rights or expanding BeMyMBA’s obligations under this Agreement or
              any Service Contract. You hereby appoint BeMyMBA as your agent to execute an Act
              of Acceptance or equivalent instrument on your behalf documenting payments
              made or to be made to Contractors or to BeMyMBA, if another user so requests.
              %br/
              6 WARRANTY DISCLAIMER.
              %br/
              BEMYMBA MAKES NO EXPRESS REPRESENTATIONS OR WARRANTIES WITH
              REGARD TO THE SERVICES, WORK PRODUCT, SITE, BEMYMBA PLATFORM OR ANY
              ACTIVITIES OR ITEMS RELATED TO THIS AGREEMENT. TO THE MAXIMUM
              EXTENT PERMITTED BY LAW, BEMYMBA DISCLAIMS ALL EXPRESS OR IMPLIED
              CONDITIONS, REPRESENTATIONS AND WARRANTIES INCLUDING, BUT NOT
              LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
              PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SECTION 9.2 below
              (TERMINATION) STATES YOUR SOLE AND EXCLUSIVE REMEDY AGAINST
              BEMYMBA WITH RESPECT TO ANY DEFECTS, NON-CONFORMANCES OR
              DISSATISFACTION. 7 LIMITATION OF LIABILITY.
              IN NO EVENT WILL BEMYMBA BE LIABLE FOR ANY SPECIAL, CONSEQUENTIAL,
              INCIDENTAL, EXEMPLARY OR INDIRECT COSTS OR DAMAGES, LITIGATION COSTS,
              INSTALLATION AND REMOVAL COSTS OR LOSS OF DATA, PRODUCTION OR
              PROFIT. THE LIABILITY OF BEMYMBA TO ANY USER FOR ANY CLAIM ARISING OUT
              OF OR IN CONNECTION WITH THIS AGREEMENT WILL NOT EXCEED THE GREATER
              OF: (A) US$2,500; AND (B) ANY BEMYMBA FEES RETAINED BY BEMYMBA WITH
              RESPECT TO CONTRACTS ON WHICH YOU WERE INVOLVED AS CLIENT OR
              CONTRACTOR DURING THE SIX (6) MONTH PERIOD PRECEDING THE DATE OF
              THE CLAIM. THESE LIMITATIONS WILL APPLY TO ANY LIABILITY, ARISING FROM
              ANY CAUSE OF ACTION WHATSOEVER, WHETHER IN CONTRACT, TORT
              (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, EVEN IF ADVISED
              OF THE POSSIBILITY OF SUCH COSTS OR DAMAGES AND EVEN IF THE LIMITED
              REMEDIES PROVIDED HEREIN FAIL OF THEIR ESSENTIAL PURPOSE.
              %br/
              8 INDEMNIFICATION..
              %br/
              You will indemnify, defend and hold harmless BeMyMBA and its subsidiaries,
              affiliates, officers, agents, employees, representatives and agents (each, an
              “Indemnified Party”) from any and all claims, actions, damages, liabilities, costs, and
              expenses (including, but not limited to, reasonable attorneys’ fees and all related
              costs and expenses) arising from or relating to your use of the BeMyMBA Platform,
              any Services or any Service Contract entered into by you (including without
              limitation claims that Contractor was misclassified as an independent contractor or
              that BeMyMBA was an employer or joint employer of Contractor, as well as claims
              under any employment-related laws, such as those relating to employment
              termination, employment discrimination, harassment or retaliation, as well as any
              claims for overtime pay, sick leave, holiday or vacation pay, retirement benefits,
              worker’s compensation benefits, unemployment benefits, or any other employee
              benefits), any User Content, your violation of these Terms of Service, your violation
              of any rights of another.
              %br/
              9 TERM AND TERMINATION.
              %br/
              9.1 Term.
              %br/
              The term of this Agreement commences on the date of acceptance of this Agreement
              and continues in effect until terminated in accordance with Section 9.2 below.
              %br/
              9.2 Termination.
              %br/
              Either party may terminate this Agreement at any time, with or without cause,
              effective immediately upon written notice to the other party (or by terminating or
              suspending your account), provided, that any such termination for convenience will
              not affect the validity of any Service Contracts that have been executed prior to
              termination and this Agreement will continue to apply with respect to such Service
              Contracts.
              %br/
              9.3 Consequences of Termination.
              %br/
              Termination will not relieve Client of the requirement to pay for time spent and
              expenses incurred prior to the effective date of the termination, which fees and
              expenses, together with any applicable taxes, will be charged to Client’s credit card
              or other form of payment pursuant to Section 3.7 above (Payment Methods). BeMyMBA will pay Contractor, in accordance with the provisions of               
              Section 3 above
              (Invoices and Payment Methods).
              %br/
              9.4 Survival.
              %br/
              Sections 2, 3, 4, 5, 6, 7, 8, 9.4, 10, 11 and 12 of this Agreement will survive any
              termination thereof.
              %br/
              10 GENERAL.
              %br/
              10.1 Entire Agreement.
              %br/
              This Agreement sets forth the entire agreement and understanding of the parties
              relating to its subject matter and cancels and supersedes any prior or
              contemporaneous discussions, agreements, representations, warranties, and other
              communications between them.
              %br/
              10.2 Side Agreements.
              %br/
              Section 10.1 above notwithstanding, Clients and Contractors may enter into any
              supplemental or other written agreement that they deem appropriate (e.g.,
              confidentiality agreement, work for hire agreement, assignment of rights, etc.). The
              terms and conditions of this Agreement, however, will govern and supersede any
              term or condition in a side agreement that purports to expand BeMyMBA’s
              obligations or restrict BeMyMBA’s rights under this Agreement.
              %br/
              10.3 Compliance.
              %br/
              You will not violate any laws or third party rights on or related to the BeMyMBA
              Platform. Without limiting the generality of the foregoing, you agree to comply with
              all applicable import and export control laws and third parties’ Proprietary Rights.
              The Software and the transmission of applicable data, if any, is subject to United
              States export controls. No Software may be exported or re-exported in violation of
              U.S. export laws. Using the Software is at your sole risk. Recognizing the global
              nature of the Internet, you agree to comply with all local rules and laws regarding
              your use of the BeMyMBA Platform, including as it concerns online conduct and
              acceptable content.
              %br/
              10.4 Notices; Consent to Electronic Notice.
              %br/
              You consent to the use of (a) electronic means to complete this Agreement and to
              deliver any notices pursuant to this Agreement; and (b) electronic records to store
              information related to this Agreement or your use of the BeMyMBA Platform.
              Notices hereunder will be invalid unless made in writing and given (a) by BeMyMBA
              via email (in each case to the email address that you provide), (b) a posting on the
              BeMyMBA Site or (c) by you via email to info@BeMyMBA.com or to such other
              addresses as BeMyMBA may specify in writing. The date of receipt will be deemed
              the date on which such notice is transmitted.
              %br/
              10.5 Modifications.
              %br/
              No modification or amendment to this Agreement will be binding upon BeMyMBA
              unless in a written instrument signed by a duly authorized representative of
              BeMyMBA. For the purposes of this Section 10.5, a written instrument will expressly
              exclude electronic communications such as email and electronic notices but will
              include facsimiles.
              %br/
              10.6 No Waiver.
              %br/
              The failure or delay of either party to exercise or enforce any right or claim does not
              constitute a waiver of such right or claim and will in no way affect that party’s right to later enforce or exercise it, unless such party issues               an express written waiver,
              signed by a duly authorized representative of each party.
              10.7 Assignability.
              You may not assign this Agreement, or any of its rights or obligations hereunder,
              without BeMyMBA’s prior written consent in the form of a written instrument
              signed by a duly authorized representative of BeMyMBA (and, for the purposes of
              this Section 10.7, a written instrument will expressly exclude electronic
              communications such as email and electronic notices but will include facsimiles).
              BeMyMBA may freely assign this Agreement without your consent. Any attempted
              assignment or transfer in violation of this Section will be null and void. Subject to
              the foregoing restrictions, this Agreement will inure to the benefit of the successors
              and permitted assigns of the parties.
              %br/
              10.8 Severability.
              %br/
              If and to the extent any provision of this Agreement is held illegal, invalid, or
              unenforceable in whole or in part under applicable law, such provision or such
              portion thereof will be ineffective as to the jurisdiction in which it is illegal, invalid,
              or unenforceable to the extent of its illegality, invalidity, or unenforceability, and
              will be deemed modified to the extent necessary to conform to applicable law so as
              to give the maximum effect to the intent of the parties. The illegality, invalidity, or
              unenforceability of such provision in that jurisdiction will not in any way affect the
              legality, validity, or enforceability of such provision in any other jurisdiction or of
              any other provision in any jurisdiction.
              %br/
              10.9 Choice of Law.
              %br/
              This Agreement and any controversy, dispute or claim arising out of or relating to
              this Agreement, including but not limited to a Service Contract, will be governed by
              and construed in accordance with the laws of the Commonwealth of Massachusetts,
              without regard to its conflict of law provisions and excluding the United Nations
              Convention on Contracts for the International Sale of Goods (CISG).
              %br/
              10.10 Personal Jurisdiction and Venue.
              %br/
              You agree that any claim you may have against BeMyMBA must be resolved by the
              Massachusetts state courts of Suffolk County (or, if there is exclusive federal
              jurisdiction, the United States District Court for the District of Massachusetts). You
              hereby irrevocably consent to the personal jurisdiction and venue of these courts.
              %br/
              10.11 Prevailing Language.
              %br/
              The English language version of this Agreement will be controlling in all respects
              and will prevail in case of any inconsistencies with translated versions, if any.
              %br/
              11 YOUR PRIVACY.
              %br/
              At BeMyMBA, we respect the privacy of our users. For details please see our Privacy
              Policy. By using the BeMyMBA Platform, you consent to our collection and use of
              personal data as outlined therein.
              %br/
              12 NOTICE FOR CALIFORNIA USERS.
              %br/
              Under California Civil Code Section 1789.3, users of the BeMyMBA Platform from
              California are entitled to the following specific consumer rights notice: The
              Complaint Assistance Unit of the Division of Consumer Services of the California
              Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (916) 445-1254 or
              (800) 952-5210. You may contact us at BeMyMBA LLC, 419-764-9591. 