%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            %h3 Welcome
            %p
              Lets do some copy about what is coming and what their next steps might look like.             