.container
  .row
    .col-lg-8
      %br/
      - unless @errors.nil?
        - if @errors
          .alert.alert-danger
            %span.glyphicon.glyphicon-alert
            %strong Error! Please check the inputs.
        - else
          .alert.alert-success
            %strong
              %span.glyphicon.glyphicon-send
              Success! Message sent.
                
    = form_tag contacts_path, method: 'post' do
      .col-lg-8
        %p Need some help on a project? Want to earn some extra cash helping with a project? Curious as to what this is all about? Send us a note and we'll get back to you soon.   
      .col-lg-8
        .well.well-sm
          %strong
            %i.glyphicon.glyphicon-ok.form-control-feedback
            Required Field
        .form-group
          %label{:for => "contact_name"} Name
          .input-group
            %input#InputName.form-control{:name => "contacts[name]", :placeholder => "Enter Name", :required => "", :type => "text"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} Email
          .input-group
            %input#InputEmail.form-control{:name => "contacts[email]", :placeholder => "Enter Email", :required => "", :type => "email"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} Phone
          .input-group
            %input#InputPhone.form-control{:name => "contacts[phone]", :placeholder => "Enter Phone", :required => "", :type => "phone"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} City
          .input-group
            %input#InputCity.form-control{:name => "contacts[city]", :placeholder => "Enter City", :required => "", :type => "text"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} State
          .input-group
            %input#InputState.form-control{:name => "contacts[state]", :placeholder => "Enter State", :required => "", :type => "text"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} Zip
          .input-group
            %input#InputZip.form-control{:name => "contacts[zip]", :placeholder => "Enter Zip", :required => "", :type => "zip"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contact_email"} Subject
          .input-group
            %select#InputEmail.form-control{:name => "contacts[subject]"}
              %option Post a Project
              %option Technical Support
              %option MBA Applicant
              %option General Inquiry
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "contect_message"} Message
          .input-group
            %textarea#InputMessage.form-control{:name => "contacts[body]", :required => "", :rows => "5"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          %label{:for => "honey"} What is 4+3?
          .input-group
            %input#InputReal.form-control{:name => "honey", :required => "", :type => "text"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
        %input#submit.btn.btn-info.pull-right{:name => "submit", :type => "submit", :value => "Submit"}
    %hr.featurette-divider.hidden-lg
  %br/
  %br/
 