%section#interior-section{:role => "main"}
  .wrapper
    .container
      .row
        .col-sm-12
          .content-outer
            .content-left
              %h4
                Fee Policy
              Last Revised: January 2, 2015
              %br/
              %br/
              This Fee Policy may be updated from time to time. We will notify you of any material
              changes by posting the new Fee Policy on the Site. You are advised to consult this
              policy regularly for any changes. Unless otherwise defined in this Privacy Policy,
              terms used in this Privacy Policy have the same meanings as in our BeMyMBA
              Terms of Service, accessible at www.BeMyMBA.com. Capitalized terms used herein
              but not otherwise defined will have the definitions provided in the Terms of Service.
              It is free to join BeMyMBA as a Client or a Contractor and there are no charges to
              post projects or to submit bids to work on projects.
              %br/
              %br/
              After a bid for a project has been accepted, payment equal to (1) the bid amount,
              plus (2) a 10% service fee, plus (3) a 3% transaction fee is transferred to BeMyMBA.
              BeMyMBA holds on to the money until the project is completed. Then, BeMyMBA
              transfers to the Contractor a payment equal to the (1) bid amount, less (2) a 10%
              service fee. For purposes of transparency, we show all service and transaction fees
              to the Contractor and Client during the bidding process.
              %br/
              %br/
              To illustrate our fees, if a Client accepts a Contractor bid of $1,000, the Client will
              pay to BeMyMBA $1,130 ($1,000 bid + $100 service fee + $30 transaction fee). Once
              work is complete, BeMyMBA will transfer to Contractor $900 ($1,000 bid - $100
              service fee).
              %br/
              %br/
              This is the only required cost of using BeMyMBA. In the future, we may offer
              optional costs for Clients and Contractors looking to enhance their success on the
              platform, but they are voluntary in nature. If you have further questions, please
              contact us at info@BeMyMBA.com. 