.header {
  background: #19335C;
  height: 100px;
  
  .header_box {
    height: 100px;
 	  width: 50%;
  }

  #header_right {
    color: white;

    a { color: white; }
    
    #login_help { margin-right: 25%; }

 	  #main_nav {
 	    margin-right: 25%;
 	    font-size: 22px;
 	  }
  }

  #header_left {
    img {
      width: 250px;
      margin-top: 15px;
      margin-right: 10%;
      float: right;
    }
   }
 }
 
 .top_line {
   background-color: #8dc63f;
   height: 8px;
 }