.hero {
 	background-image: url(asset-path('home_hero.png'));
 	background-repeat: no-repeat;
 	background-position: center;
 	height: 560px;
 }

 .how_it_works {
 	background-image: url(asset-path('home_how_it_works.png'));
 	background-repeat: no-repeat;
 	background-position: center;
 	height: 560px;
 }
 .connect_me {
 	background: #E9E9E9;
 	height: 330px;
 }

 .hire_me {
 	background: #19335C;
 	height: 375px;
 }

 .lastest_news {
 	height: 500px;
 }

 .footer {
 	background: #19335C;
 	height: 200px;
 }